@model IEnumerable<Movie.Models.Showtime>
@using Movie.Models;
@{
    List<Film> films = ViewBag.Film;
    Dictionary<int,int> seats = ViewBag.Seat;
}
<link href="~/Content/User/css/ImageTrailer.css" rel="stylesheet" />
@foreach (var item in films)
{

    <div class="col-md-12">
        <div class="col-md-4">
            @*<img class="img-responsive border-radius-20" alt="" src="@item.Image" width="300" height="400">*@
            <ul class="thumb">
                <li>
                    <div class="overlay">
                        <button class="playWrapper" role="button" data-toggle="modal" data-target="#trailerModal" onclick="Trailer('@item.TrailerUrl','@item.Name')"></button>
                        <img class="thumbnail" src="@item.Image" width="300" height="400" alt="">


                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <h1><a href="/ChiTietPhim/Index/@item.FilmId">@item.Name</a></h1>
            <ul class="blog-info" style="list-style-type:none;">
                <li><i class="fa fa-tags"></i>@item.Category.Name</li>
                <li><i class="fa fa-clock-o"></i>@item.Duration phút</li>
            </ul>
            <div class="row">
                @foreach (var item1 in Model)
                {
                    if (item.FilmId == item1.FilmId)
                    {
                        <div class="col-lg-2 col-md-5 col-sm-5 col-xs-7 margin-xs-bottom-10 text-center">

                            @{
                                if (item1.Queue == 1)
                                {
                                    <a style="width: 100%" href="#" class="btn btn-default show-in fancybox-fast-view" data-toggle="modal" data-target="#modalFilm" onclick="bookSeat(@item1.ShowtimeId)"><span style="font-weight:bold">09:00</span></a>
                                }
                                else if (item1.Queue == 2)
                                {
                                    <a style="width: 100%" href="#" class="btn btn-default show-in fancybox-fast-view" data-toggle="modal" data-target="#modalFilm" onclick="bookSeat(@item1.ShowtimeId)"><span style="font-weight:bold">12:30</span></a>
                                }
                                else if (item1.Queue == 3)
                                {
                                    <a style="width: 100%" href="#" class="btn btn-default show-in fancybox-fast-view" data-toggle="modal" data-target="#modalFilm" onclick="bookSeat(@item1.ShowtimeId)"><span style="font-weight:bold">16:00</span></a>
                                }
                                else if (item1.Queue == 4)
                                {
                                    <a style="width: 100%" href="#" class="btn btn-default show-in fancybox-fast-view" data-toggle="modal" data-target="#modalFilm" onclick="bookSeat(@item1.ShowtimeId)"><span style="font-weight:bold">19:30</span></a>
                                }
                            }
                            @foreach (KeyValuePair<int,int> item2 in seats)
                            {
                                if (item2.Key == item1.ShowtimeId)
                                {
                                    <div class="font-smaller padding-top-5">@item2.Value ghế trống</div>
                                }
                            }
                            
                        </div>
                                    }

                                }

            </div>
        </div>
    </div>
                                }
    &nbsp;

<div class="modal fade" id="modalFilm" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bạn Đang Đặt Vé Xem Phim</h4>
            </div>
            <div id="film-name"></div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Rạp chiếu</th>
                            <th>Ngày chiếu</th>
                            <th>Giờ chiếu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="cinema-des"></td>
                            <td id="showtime-des"></td>
                            <td id="queue-des"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                @*<a class="btn btn-primary" data-dismiss="modal"  onclick="location.href='@Url.Action("Index","Booking")'">Đồng ý</a>*@
                <a class="btn btn-primary" data-dismiss="modal" onclick="location.href='/Booking/Index/'">Đồng ý</a>
            </div>
        </div>

    </div>
</div>
