@model IEnumerable<Movie.Models.Showtime>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Film.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Queue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Film.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.Queue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShowtimeId }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShowtimeId }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShowtimeId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
