@model IEnumerable<Showtime> 
@using Movie.Models
@{ 
    List<Showtime> lstShowtime = ViewBag.FilmShowtime;
}
    @foreach (var item1 in Model)
    {

        <div class="text-center pull-left col-md-2">
            
           @{
               if (item1.Queue == 1)
               {
                <a style="width: 100%" href="#" class="btn btn-default show-in fancybox-fast-view" data-toggle="modal" data-target="#modalFilm" onclick="bookSeat(@item1.FilmId,'@item1.Film.Name',@item1.Queue,@item1.RoomId)"><span style="font-weight:bold">09:00</span></a>
               }
               else if (item1.Queue == 2)
               {
                <a style="width: 100%" href="#" class="btn btn-default show-in fancybox-fast-view" data-toggle="modal" data-target="#modalFilm" onclick="bookSeat(@item1.FilmId,'@item1.Film.Name',@item1.Queue,@item1.RoomId)"><span style="font-weight:bold">12:30</span></a>
               }
               else if (item1.Queue == 3)
               {
                <a style="width: 100%" href="#" class="btn btn-default show-in fancybox-fast-view" data-toggle="modal" data-target="#modalFilm" onclick="bookSeat(@item1.FilmId,'@item1.Film.Name',@item1.Queue,@item1.RoomId)"><span style="font-weight:bold">16:00</span></a>
               }
               else if (item1.Queue == 4)
               {
                <a style="width: 100%" href="#" class="btn btn-default show-in fancybox-fast-view" data-toggle="modal" data-target="#modalFilm" onclick="bookSeat(@item1.FilmId,'@item1.Film.Name',@item1.Queue,@item1.RoomId)"><span style="font-weight:bold">19:30</span></a>
               }
            }

            <div class="font-smaller padding-top-5">@item1.Room.SeatCount</div>
        </div>


                }

<div class="modal fade" id="modalFilm" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bạn Đang Đặt Vé Xem Phim</h4>
            </div>
            <div id="film-name"></div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Rạp chiếu</th>
                            <th>Ngày chiếu</th>
                            <th>Giờ chiếu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="cinema-des"></td>
                            <td id="showtime-des"></td>
                            <td id="queue-des"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" data-dismiss="modal" onclick="location.href='@Url.Action("Index","Booking")'">Đồng ý</a>
            </div>
        </div>

    </div>
</div>

