@model IEnumerable<Movie.Models.Film>
@using Movie.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Film> lstNotShowFilm = ViewBag.NotShowFilm;
    List<Showtime> showtimes = ViewBag.Showtime;
    List<Room> rooms = ViewBag.Room;
    List<Seat> seats = ViewBag.Seat;
    List<DateTime> dates = ViewBag.Date;
}
<link href="~/Content/app/film-detail.css" rel="stylesheet" />
<div class="container" style="margin-bottom:35px;">
    <div class="menu col-md-12">
        <div class="text-center">
            <ul class="nav nav-tabs tab-films">
                <li class="nav-item active">
                    <a class="nav-link" href="#dangchieu" data-toggle="tab" ">
                        <h1>PHIM ĐANG CHIẾU</h1>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sapchieu" data-toggle="tab" ">
                        <h1>PHIM SẮP CHIẾU</h1>
                    </a>
                </li>
            </ul>
            <hr />
        </div>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div id="dangchieu" class="container tab-pane active">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="thumb">
                                    <li>
                                        <div class="overlay">
                                            <button class="playWrapper" role="button" data-toggle="modal" data-target="#trailerModal" onclick="Trailer('@item.TrailerUrl', '@item.Name')"></button>
                                            <img class="thumbnail" src="@item.Image" width="227" height="360" alt="">

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <div class="film-info">
                                    <h3><a href="/ChiTietPhim/Index/@item.FilmId">@item.Name</a></h3>
                                    <ul class="list-unstyled font-lg font-family-san font-sm-15 font-xs-14">
                                        <li>
                                            <span class="bold">
                                                Đạo diễn:
                                            </span> @item.Director
                                        </li>
                                        <li style="max-height: 50px;">
                                            <span class="bold">
                                                Thể loại:
                                            </span> @item.Category.Name
                                        </li>
                                        <li>
                                            <span class="bold">
                                                Thời lượng:
                                            </span> @item.Duration
                                            phút
                                        </li>
                                    </ul>
                                    <br />
                                    <div style="min-height: 85px;width:227px">
                                        <button role="button" data-toggle="modal" class="btn btn-success" style="width:100%" data-target="#showtimeModal" id="@item.FilmId" onclick="Showtime('@item.Name')">
                                            <span><i class="fa fa-ticket mr3"></i></span>
                                            MUA VÉ
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div id="sapchieu" class="container tab-pane fade">
            <div class="row">
                @foreach (var item in lstNotShowFilm)
                {
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="thumb">
                                    <li>
                                        <div class="overlay">
                                            <button class="playWrapper" role="button" data-toggle="modal" data-target="#trailerModal" onclick="Trailer('@item.TrailerUrl', '@item.Name')"></button>
                                            <img class="thumbnail" src="@item.Image" width="227" height="360" alt="">

                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <div class="film-info">
                                    <h3><a href="/ChiTietPhim/Index/@item.FilmId">@item.Name</a></h3>
                                    <ul class="list-unstyled font-lg font-family-san font-sm-15 font-xs-14">
                                        <li>
                                            <span class="bold">
                                                Đạo diễn:
                                            </span> @item.Director
                                        </li>
                                        <li style="max-height: 50px;">
                                            <span class="bold">
                                                Thể loại:
                                            </span> @item.Category.Name
                                        </li>
                                        <li>
                                            <span class="bold">
                                                Thời lượng:
                                            </span> @item.Duration
                                            phút
                                        </li>
                                    </ul>
                                    <br />
                                    <div style="min-height: 85px;width:227px">
                                        <button role="button" data-toggle="modal" class="btn btn-success" style="width:100%" data-target="#showtimeModal" id="@item.FilmId" onclick="Showtime('@item.Name')">
                                            <span><i class="fa fa-ticket mr3"></i></span>
                                            MUA VÉ
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="trailerModal" tabindex="-1"  aria-labelledby="exampleModalLabel" 
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p></p>
            </div>
            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="400" height="300" frameborder="0" allowfullscreen="" src=""></iframe>
                </div>


            </div>

        </div>
    </div>
</div>

<!--Showtime Modal-->
<div class="modal fade" id="showtimeModal" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <p></p>
            </div>
            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="rapchieu">
                    <span style="font-family:sans-serif;padding-left:30px;padding-right:30px;">Chọn rạp</span>
                    <select class="dropdown-toggle btn btn-default">
                        <option class="dropdown-item">Beta Đan phượng</option>
                    </select>
                    <br />
                    <h1 class="text-center">Rạp <span id="tenrap">Beta Đan phượng</span></h1>
                </div>
                <hr />
                
                <div class="container-fluid">
                    <ul class="nav nav-pills " role="tablist" style="margin-bottom: 20px; margin-left: 1%; margin-right: 1%;">
                        @foreach (var date in dates)
                        {
                            <li class="nav-item showdate">
                                <a href="#" id="@date.Date.ToString("d")" class="nav-link" data-toggle="tab"><span class="font-smaller">@date.Date.ToString("d")</span>/@date.DayOfWeek</a>
                            </li>
                        }


                    </ul>
                    <hr />
                    <div class="row" id="giochieu">


                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/plugin/moment.js"></script>
<!--Script for modal-->
<script>
    var videoSrc;
    var videoName;
    function Trailer(url, name) {
        //if (url.includes('watch?v='))
        //{
        //   videoSrc=url.replace('watch?v=', 'embed/');
        //}
        videoSrc = url;
        videoName = name;
        $('#trailerModal p').html('Trailer - ' + name);
        $("#trailerModal iframe").attr('src', videoSrc + "?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1");
    };

    // Gets the video src from the data-src on each button
    //var videoSrc;
    //$(".playWrapper").click(function () {
    //    videoSrc = $(this).val();

    //});


    //when the modal is opened autoplay it
    //$('#myModal1').on('shown.bs.modal', function () {

    //     set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
    //    $("#myModal1 iframe").attr('src', videoSrc + "?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1");
    //});


    // stop playing the youtube video when I close the modal
    $('#trailerModal').on('hide.bs.modal', function () {
        // a poor man's stop video
        $("#trailerModal iframe").attr('src', videoSrc);
    });

    function bookSeat(filmId, filmName, queue, roomId) {
       
        $.ajax({
            method: 'GET',
            url: '/Phim/FilmDetail',
            data: {
                filmId: filmId,
                roomId: roomId,
                queue: queue
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.response) {
                    $('#film-name').text(filmName);
                    $('#cinema-des').text(result.CinemaName);
                    $('#showtime-des').text(moment(result.ShowtimeName).format("DD-MM-YYYY"));
                    $('#queue-des').text(queue);
                }
            }
        });
    }
</script>
<script>
    function Showtime(filmName)
    {
            $('#showtimeModal p').html('Bạn đang đặt vé cho phim <span style="color:#337ab7">'+filmName+'</span>');
            var loadShowDateId = $('.showdate a').first().attr("id");
            var filmId = $('.film-info button').attr("id");
            $.ajax({
                method: 'GET',
                url: '/Phim/GetShowtimeByShowDate',
                data: { showDate: loadShowDateId, id: filmId },
                success: function (data) {
                    $('#giochieu').html(data);
                }

            });
            $(".showdate .nav-link").click(function () {
                var showDateId = $(this).attr("id");
                $.ajax({
                    method: 'GET',
                    url: '/Phim/GetShowtimeByShowDate',
                    data: { showDate: showDateId, id: filmId },
                    success: function (data) {
                        $('#giochieu').html(data);
                    }

                });
            });
            $('#showtimeModal').on('hidden.bs.modal', function () {
                $('#modalFilm').modal('hide');
            });
    }
    

</script>


